body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#canvas {
    border: 1px solid #000;
    background-color: black;
    cursor: crosshair;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#predictButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#predictButton:hover {
    background-color: #0056b3;
}



.sentence-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#sentence {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 5px 10px;
    overflow-x: auto;
}

#deleteButton, #spaceButton {
    padding: 5px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#deleteButton:hover, #spaceButton:hover {
    background-color: #0056b3;
}